body{
  color: tomato;
  background: #fafad2;
  font-family: Arial / Comic Sans MS / Courier / Impact / Tahoma;
}

h1{
font-weight: bold;  
}

h3{
  font-weight: bold;
}
hr {
    height: 2px;
    border: none;
    background-color: tomato;
}
ul {
    list-style-type: square;
}